.map-container {
  position: relative;
  justify-self: center;
  align-self: center;
  width: 90%;
  margin: 1rem 1rem 1rem 0rem;
}

.map-frame {
  position: relative;
  border: 2px solid black;
  height: 50%;
}


#map {
  height: 50vh;
}