<!-- <app-start-screen></app-start-screen> -->
@if(screen === 'map-screen'){
<app-map-screen (callScreenChange)="screenChange($event)" (callForData)="fetchData()" (callLoadPlaceInfo)="loadPlaceInfo($event)"
    [placeList]="placeListInfo"></app-map-screen>
}
@else if(screen === 'add-place'){
<app-add-place (addNewData)="sendData($event)" (callScreenChange)="screenChange($event)"></app-add-place>
}
@else if(screen === 'place-info'){
<app-place-info [place]="placeInfo" (callScreenChange)="screenChange($event)"></app-place-info>
}