<div class="wrapper">
    <!-- <div class="navigate">
        <h1>Aplikacja dla turystów</h1>
    </div> -->


    <div class="content">
        <h2 class="places__title">Poznaj nowe miejsca</h2>
        <button class="place__button place__button--addplace" (click)="sendChangeScreenRequest('add-place')">+ Dodaj nowe
            miejsce</button>
        <div class="buttons-bar">
            <button class="buttons-bar__button" (click)="filterPlaceList('wszystkie')">wszystkie</button>
            <button class="buttons-bar__button" (click)="filterPlaceList('atrakcja')">atrakcje</button>
            <button class="buttons-bar__button" (click)="filterPlaceList('restauracja')">restauracje</button>
            <button class="buttons-bar__button" (click)="filterPlaceList('widok')">widoki</button>
            <button class="buttons-bar__button" (click)="filterPlaceList('wypoczynek')">wypoczynek</button>
            <button class="buttons-bar__button" (click)="filterPlaceList('zabytek')">zabytki</button>
        </div>

        <ul class="places__list">
            @for(place of placeListShow; track place.id){
            <li class="place" (click)="sendShowPlaceInfoRequest(place.coords, place)">
                <img class="place__image" [src]="'/img/' + place.type + '.svg'" alt="{{place.title}}">
                <div class="place__item">
                    <h3 class="place__title"><i class="fa-solid fa-location-dot"></i> {{place.title}}</h3>
                    <p class="place__type">{{place.type}}</p>

                    <p class="place__num">{{getPlaceDescShort(place.description)}}</p>
                    <button class="place__button place__button--more"
                        (click)="callLoadPlaceInfoRequest( place); sendChangeScreenRequest('place-info')">Więcej</button>
                </div>
            </li>
            }
        </ul>
    </div>
    
    <!-- @if(showMore){

        <app-place-info class="container"></app-place-info>
    } -->
    <app-map class="content" (callMapMoved)="sortPlaceList($event)" (callPlaceInfo)="findPlace($event)"></app-map>

</div>