<div class="wrapper">
    <div class="navigate">
        <h1>Aplikacja dla turystów</h1>
    </div>

    <app-map></app-map>
    <button class="add-new-place-button" (click)="sendAddPlaceRequest()">+ Dodaj miejsce</button>
    <div class="content">
        <div class="info-container">
            <h2>Poznaj nowe miejsca</h2>
            <blockquote class="places-container">
                <ul class="places">
                    @for(place of placeList; track place.id){
                    <li class="place-item" (click)="sendShowPlaceInfoRequest(place.coords, place)">
                        <p class="place-item--name"><i class="fa-solid fa-location-dot"></i> {{place.title}}</p>
                        <p class="place-item--review">
                            @for(number of [0,1,2,3,4]; track $index){
                            @if(place.rate > $index){
                            <i class="fa-solid fa-star"></i>
                            }
                            @else{
                            <i class="fa-regular fa-star"></i>

                            }
                            }
                        </p>
                        <button (click)="sendShowPlaceRequest(place)">Więcej</button>
                    </li>
                    }
                </ul>
            </blockquote>



        </div>
        <div class="info-container">
            <app-place-info></app-place-info>
        </div>
    </div>
</div>