<p>add-place works!</p>
@if(!placeChosen){
<app-map (addPlaceUpdate)="updatePlaceCoords($event)"></app-map>
<button class="" [disabled]="!newPlacePosition[0] && !newPlacePosition[1]" (click)="placeChosen = true">Dalej</button>

}
@else{
<h2 class="title">Dodaj nowe miejsce</h2>
<form [formGroup]="addNewPlaceForm" (submit)="addNewPlaceSubmit()">

    <select class="input-text" formControlName="type" id="type">
        <option value="atrakcja">Atrakcja</option>
        <option value="widok">Widok</option>
        <option value="zabytek">Zabytek</option>
    </select>
    <label class="label" for="type">Rodzaj miejsca</label>

    <input type="text" placeholder="Wprowadź nazwę nowego miejsca" formControlName="title" class="section__input">
    <label class="label" for="title">Nazwa</label>

    <input type="text" placeholder="Opisz, czym charakteryzuje się to miejsce" formControlName="description"
        class="section__input">
    <label class="label" for="description">Opis</label>

    <button type="submit" [disabled]="addNewPlaceForm.invalid">Dodaj</button>

</form>
}