@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Sketch&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
	--background: #f2f6f7;
	--item: #99d9cd;
	--button: #b5c7c4;
	--button-hover: #b5c7c4;
	--button-add: #10977e;
	--nav: #4287f5;


	--mint1: #D8F3DC;
	--mint2: #B7E4C7;
	--mint3: #95D5B2;
	--green1: #74C69D;
	--green2: #52B788;
	--green3: #40916C;
	--dark-green1: #2D6A4F;
	--dark-green2: #1B4332;
	--black: #081C15;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #daeaee;

}

